* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Roboto', 'sans-serif';
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.02em;
    color: #2F2E41;;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

header, footer {
    background-color: #6C63FF;
}

.btn, h1, h3 {
    text-transform: uppercase;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 0.02em #000000;
    color: #FFFFFF;
}

section {
    padding: 95px 0;

}

h1 {
    font-weight: 700;
    font-size: 44px;
    text-align: center;
    margin-bottom: 70px;
}

.card {
    background: #FFFFFF;
    border: 2px solid #E7E7E7;
    border-radius: 5px;
    padding: 46px 20px;
}

h3 {
    font-size: 22px;
    font-weight: 700;
}

.imgCard {
    margin: 40px 0 36px;
}

p span {
    font-weight: 700;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: capitalize;
}

footer img {
    margin-right: 10px;
}
